{% extends 'base.html.twig' %}

{% block title %} Changement du mot de passe{% endblock %}

{% block body %}

    <div class="sidenav">
         <div class="login-main-text">
            <h2>ARA Tourisme<br></h2>
         </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="post">
                <div class="form-group">
                    <p class="h5 mb-4 font-weight-normal">Veuillez renseigner votre nouveau mot de passe pour vous connecter à l'application</p>
                    <label for="inputPassword" class="sr-only">Tapez votre nouveau mot de passe: </label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    <input type="hidden" name="token" value="{{ token }}">
                </div>
                <button type="submit" class="btn btn-black">Valider</button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}